html,
body {

 background-color: #343434;
  color: #fff;

  font-size: 12px;

}

header{
display: grid;
grid-template-columns: 700px 540px;
grid-template-areas:
"sloupec1 sloupec2"    

}

.sloupec1    { grid-area: sloupec1; }

.sloupec2{
 grid-area: sloupec2; 
 margin-top: 30px;
 
 }


.encryptorFlip button{
  margin-left: 80px;
  margin-right:40px;
 // color: white;
}

.zmena button{
margin-left: 10px;
margin-right: 10px;
border: 1px solid #6c6c6c;
background-color: #6c6c6c;

}

.zmena{
margin-left: 320px;
  

}




.formular{
  margin-left: 0px;
  margin-top:0px;

}

.ramecek{
   margin-left: 2px;

 
}

textarea {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 8px solid #282828;
  background-color: #282828;
  color: white;
  width: 300px;
  height: 180px;
}

input {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #282828;
  background-color: #282828;
  color: white;
  width: 400px;
}

checkbox {
  padding: 100px;
  margin: 100px;

}


button{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid #282828;
  background-color: #282828;
  color: white;

}
